.navigation-bar ul{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  list-style: none;
  background-color: #333;
} 

.navigation-bar li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation-bar li a:hover {
  background-color: #111;
}