b {
  font-size: 20px;
  text-decoration: underline;
  font-weight: normal;
  background-color: #C0FFEE;
}

#two {
  background-color: #de3;
}

#three {
  background-color: cornsilk;
}

.result { 
  background-color: #bada55;
}

ul.probabilities {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.probabilities li { 
  display: flex;
  justify-content: space-around; 
}


